header, main, footer {
  padding-left: 300px;
}

.side-nav {
  margin-top: 81px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .side-nav {
    margin-top: 0;
  }
}

.side-nav a {
  cursor: pointer;
}

.nav-wrapper {
  min-height: auto !important;
}

.navbar-fixed {
  margin-bottom: 50px;
}

.nav-content {
  padding-left: 20px;
}

.nav-content button {
  margin-right: 20px;
  margin-top: 22px;
}

.modal {
  height: 375px;
  width: 700px;
}
